body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
}

/* Common css */
.page-width {
  width: 1200px;
  margin: 0 auto;
}
.experience-card {
  border-left: 10px solid;
  padding: 20px;
  box-shadow: 0px 0px 30px rgb(160, 160, 160);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.width-50 {
  width: 50%;
}

.paragraph-color {
  color: rgb(50, 50, 50);
}

/* Left Side Hero */
#hero-section {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
  margin-bottom: 75px;
}
.hero {
  display: flex;
  padding-top: 20px;
}
.hero__left-title {
  font-size: 50px;
  color: rgb(20, 20, 20);
}
.color-orange {
  color: orangered;
}
.hero__left-subtitle {
  font-size: 25px;
  color: rgb(40, 40, 40);
}
.hero__left-btn {
  text-decoration: none;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  background: linear-gradient(to right, orangered, orange);
  display: inline-block;
  margin-top: 15px;
  padding: 10px 25px;
  border-radius: 5px;
  box-shadow: 5px 5px 14px rgb(160, 160, 160);
}
/* Right Side Hero*/
.hero__right-img {
  width: 75%;
  display: block;
  margin: 0 auto;
}

/* Experience Section */
#experience {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position-y: center;
  margin-bottom: 75px;
}
.experience__title {
  font-size: 40px;
  color: rgb(20, 20, 20);
}
.experience {
  display: flex;
  margin-top: 50px;
}
.experience-left {
  width: 45%;
  border-image: linear-gradient(to bottom, orangered, orange);
  border-image-slice: 1;
}
.experience-card__title {
  font-size: 30px;
  color: rgb(20, 20, 20);
}
.experience-card__sub {
  font-size: 20px;
  color: orangered;
}
.experience-right {
  width: 45%;
  margin-left: 10%;
  border-image: linear-gradient(to bottom, blue, skyblue);
  border-image-slice: 1;
}

/* Footer */
.copyright {
  text-align: center;
  color: rgb(80, 80, 80);
}
